# Servidor
PORT=3000

# JWT
JWT_SECRET=cambia_esto_por_un_secreto_seguro

# Base de datos
DB_DIALECT=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=ecomart
DB_USER=root
DB_PASSWORD=tu_password_aqui

# CORS
FRONTEND_URL=http://localhost:5173

# Seed admin (solo para npm run seed:admin)
ADMIN_NOMBRE=Admin
ADMIN_EMAIL=admin@ecomart.com
ADMIN_PASSWORD=cambia_esto_por_un_password_seguro